services:

  gateway:
    build: 
      context: ./gateway
      dockerfile: Dockerfile
    container_name: api-gateway
    ports:
      - "8081:81"
    depends_on:
      - user-nginx
      - order-nginx
      - product-nginx
    networks:
      - micro

  product-nginx:
    image: nginx:alpine
    container_name: product-nginx
    volumes:
      - ../services/ProductService/src:/var/www
      - ../services/ProductService/nginx/conf.d/:/etc/nginx/conf.d/
    depends_on:
      - product-php
    networks:
      - micro

  product-php:
    container_name: product-php
    build: 
      context: ../services/ProductService/php
      dockerfile: Dockerfile
    #user: "${UID}:${GID}"
    volumes:
      - ../services/ProductService/src:/var/www
    restart: always
    networks:
      - micro
    environment:
      DB_CONNECTION: mysql
      DB_HOST: product-db
      DB_DATABASE: product_service
      DB_USERNAME: root
      DB_PASSWORD: password

  product-db:
    image : mysql
    container_name : product-db
    volumes:
      - product-mysql-data:/var/lib/mysql
    ports:
      - "3307:3306"
    environment:
      MYSQL_DATABASE: product-service
      # MYSQL_USER: root
      MYSQL_ROOT_PASSWORD: password
    networks:
      - micro

  order-nginx:
    image: nginx:alpine
    container_name: order-nginx
    volumes:
      - ../services/OrderService/src:/var/www
      - ../services/OrderService/nginx/conf.d/:/etc/nginx/conf.d/
    depends_on:
      - order-php
    networks:
      - micro

  order-php:
    container_name: order-php
    build: 
      context: ../services/OrderService/php
      dockerfile: Dockerfile
    #user: "${UID}:${GID}"
    volumes:
      - ../services/OrderService/src:/var/www
    environment:
      DB_CONNECTION: pgsql
      DB_HOST: order-db
      DB_PORT: 5432
      DB_DATABASE: order_service
      DB_USERNAME: postgres
      DB_PASSWORD: password
    restart: always
    networks:
      - micro

  order-db:
    image: postgres:15
    container_name: order-db
    ports:
      - "5433:5432"
    environment: 
      POSTGRES_DB: order-service
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password 
    volumes:
      - order-postgres-data:/var/lib/postgresql/data
    networks:
      - micro


  user-nginx:
    image: nginx:alpine
    container_name: user-nginx
    volumes:
      - ../services/user-service/src:/var/www
      - ../services/user-service/nginx/conf.d/:/etc/nginx/conf.d/
    depends_on:
      - user-php
    networks:
      - micro

  user-php:
    container_name: user-php
    build: 
      context: ../services/user-service/php
      dockerfile: Dockerfile
    #user: "${UID}:${GID}"
    volumes:
      - ../services/user-service/src:/var/www
    restart: always
    environment:
      DB_CONNECTION: mysql
      DB_HOST: user-db
      DB_DATABASE: user_service
      DB_USERNAME: root
      DB_PASSWORD: password
    # working_dir: /var/www
    # command: php-fpm
    networks:
      - micro

  user-db:
    image : mysql
    container_name : user-db
    volumes:
      - user-mysql-data:/var/lib/mysql
    ports:
      - "3308:3306"
    environment:
      MYSQL_DATABASE: user_service
      # MYSQL_USER: root
      MYSQL_ROOT_PASSWORD: password
    networks:
      - micro


networks:
  micro:
    name: micro

volumes:
  user-mysql-data:
  product-mysql-data:
  order-postgres-data:
